
/* desktop */

@media only screen and (min-width: 992px) and (min-height: 800px) {
    #logo {
      width: 600px;
      height: 300px;
      object-fit: cover;
    }

    #fragi {
      text-align: center;
      font-size: 40px;
      color: rgb(209, 31, 0);
    }
    #epikinonia {
      text-align: center;
      color: rgb(209, 31, 0);
      font-size: 30px;
    }
    #location{
      font-size: 25px;
      color: #3b5998;
      font-family: unset;
    }
    #phone {
      font-size: 25px;
      color: #3b5998;
      font-family: unset;
    }

}
/* mobile */
@media only screen and (max-width: 991px),(max-height: 800px) {
  #logo {
    padding-top: 20px;
  }

  #fragi {
    text-align: center;
    font-size: 30px;
    color: rgb(209, 31, 0);
    margin-bottom: 5px;
    white-space: nowrap;
  }
  #epikinonia {
    text-align: center;
    color: rgb(209, 31, 0);
    font-size: 20px;
    margin-top: 5px;
    white-space: nowrap;
  }
  #location{
    font-size: 25px;
    color: #3b5998;
    font-family: unset;
    white-space: nowrap;
  }
  #phone {
    font-size: 25px;
    color: #3b5998;
    font-family: unset;
    white-space: nowrap;  
  }
}

